.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    border-radius: 5px; /* Optional: Slight rounding for a modern look */
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
  
  .info-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    margin-left: 5%;
  }
  
  .p-tooltip {
    font-size: 0.3rem;
    background-color: #ffffff;
    color: #333333;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .app-header {
        /* flex-direction: column; Stack items vertically on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
        width: auto; /* Allow height to adjust based on content */
    }

    .header-left {
        justify-content: center; /* Center items on smaller screens */
        margin-bottom: 10px; /* Add space below header-left */
    }

    .title {
        font-size: 1.2rem; /* Reduce font size for smaller screens */
    }

    .info-icon {
        font-size: 1.2rem; /* Reduce icon size for smaller screens */
    }
  }
